body {
	background-image: url('/static/bg.png');
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #828282;
  font-family: 'Roboto-Light', 'Roboto', sans-serif;
  font-size: 50pt;
  margin-bottom: 144px;
  margin-top: 144px;
}

@media (max-width: 767px) {
  h1 {
    margin-bottom: 50px;
    margin-top: 50px;
  }
}

.page-content {
  margin: 0 auto;
  max-width: 800px;
}

.icon svg {
  height: 150px;
  margin: 16px 0 16px 0;
}

.icon svg path {
  fill: #828282;
  -webkit-transition: fill .3s ease-in-out;
  -moz-transition: fill .3s ease-in-out;
  -o-transition: fill .3s ease-in-out;
  transition: fill .3s ease-in-out;
}

.icon:hover svg path {
  fill: #000000;
}

.icon--github:hover svg path {
  fill: #4183c4 !important;
}

.icon--twitter:hover svg path {
  fill: #65bbf2 !important;
}

.icon--googleplus:hover svg path {
  fill: #e56552 !important;
}